h1.appTitle {
	text-align: center;
	padding-top: 10px;
	color: #FFFFFF;
}

.form-pad-top {
	padding-top: 20px;
	/* border-top		: 1px solid #428bca; */
}

hr {
	display: block;
	height: 1px;
	border-top: 1px solid #428bca;
	margin: 15px 100px 30px 100px;
}

.form-btn-pad {
	padding: 15px 0px 0px 0px;
}

.hidden-button {
	visibility: hidden;
}