.theme-body{
  background-color : #B22400; 
	
}
.theme-panel{
}
.theme-panel-heading{
	background-color : #DD1100 ;
	border : 1px solid grey ;
	color : #fff;
}
.theme-panel-body{
	background-color : #fff ;
	border-color : #666 ;
	
	color : #666;
}
.theme-panel-footer{
	background-color : #DD1100;
	border-color : #666 ;
	color : #fff;
}