.theme-body{
  background-color : #183152 ; 
	
}
.theme-panel{
	border : 1px solid grey ;
}
.theme-panel-heading{
	background-color : #375D81 ;
	border : 1px solid grey ;
	color : #fff;
}
.theme-panel-body{
	background-color : #fff ;
	border-color : #666 ;
	
	color : #666;
}
.theme-panel-footer{
	background-color : #375D81 ;
	border-color : #666 ;
	color : #fff;
}